@page "/audionote"

@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.Extensions.WebEncoders.Testing
@using Radzen

@inject HttpClient Http
@inject IJSRuntime Js;

<div class="container mx-auto my-3 bg-dark text-white" style="width:550px">

    @* Headline *@
    <div class="row">
        <div class="col-1">
            <img src="/Pictures/micIcon.png" class="rounded float-left; my-2" style="width: 30px; height: 30px" />
        </div>
        <div class="col">
            <h1>AudioNote</h1>
        </div>
        <div class="col">
            <p class="pt-3">placeholder</p>
        </div>
        <div class="col">
            <p class="pt-3">@Username placeholder</p>
        </div>
    </div>

    @* Navn *@
    <div class="row">
        <div class="col-3">
            <label>Navn</label>
        </div>
        <div class="col-*-*">
            <input type="text" style="width:350px" name="navn" id="navn" />
        </div>
    </div>

    @* Grupper *@
    <div class="row">
        <div class="col-3">
            <label>Grupper</label>
        </div>
        <div class="col-4"></div>
        <div class="col-4 my-1">
            <button class="btn btn-primary btn-block">change group</button>
        </div>
    </div>

    @* CPR *@
    <div class="row">
        <div class="col-3">
            <label>CPR</label>
        </div>
        <div class="col-*-*">
            <input type="number" maxlength="10" style="width:350px" name="CPR" id="CPR"/>
        </div>
    </div>

    @* Ekstra felt *@
    <div class="row">
        <div class="col-3">
            <label>Ekstra felt</label>
        </div>
        <div class="col-*-*">
            <input type="text" style="width:350px" name="ekstrafelt" id="ekstrafelt"/>
        </div>
    </div>

    <div class="row" title="ProgressBar">
        <div class="col-*-*">
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="margin-bottom: 10px; margin-top: 20px;"></RadzenProgressBar>
        </div>
    </div>
    
    <div class="row">
        <oi id="recordingsList"></oi>
        @*<p id="lblCurrentTime"></p>
        <p id="lblRemainingTime"></p>
        <p id="lblTotalTime"></p>*@
    </div>

    <div class="row p-2">
        <div id="controls" class="btn-group">

            @if (IsRecording)
            {
                <button class="btn btn-primary btn-block" @onclick="StopRecording" aria-hidden="true" id="stopRecordingBtn">stop</button>
            }
            else
            {
                <button class="btn btn-primary btn-block" @onclick="StartRecording" aria-hidden="true" id="startRecordingBtn">record</button>
            }

            <button class="btn btn-primary" onclick="" id="beginning">beginning</button>
            <button class="btn btn-primary" onclick="" id="rewind">rewind</button>

            @if (IsPlaying)
            {
                <button class="btn btn-primary btn-block" @onclick="StopAudio" aria-hidden="true" id="stopAudio">stop</button>
            }
            else
            {
                <button class="btn btn-primary btn-block" @onclick="PlayAudio" aria-hidden="true" id="playAudio">play</button>
            }

            <button class="btn btn-primary" onclick="" id="forward">forward</button>
            <button class="btn btn-primary" onclick="" id="end">end</button>
            
            <button class="btn btn-primary" id="downloadBtn">Download</button>

            @*<audio id="AP" @ref="Audio" preload="auto">
                <source src="/Sounds/Mamma_Mia.mp3" type="audio/mp3" />
            </audio>*@
        </div>
    </div>

    <div class="row p-2">
        <div title="Edit-controls" class="btn-group">
            <button class="btn btn-primary" onclick="" name="ready" id="ready">ready</button>
            <button class="btn btn-primary" onclick="" name="suspend" id="suspend">suspend</button>
            <button class="btn btn-primary" onclick="" name="cancel" id="cancel">cancel</button>
        </div>
    </div>
</div>

@code {

    @*test code*@
    

    @*test code*@

    @*Audio-text inputs*@
    public string Username { get; set; }


    @*Audio-controls buttons*@

    bool IsRecording { get; set; }

    bool IsPlaying { get; set; }

    private ElementReference Audio { get; set; }

    private async Task StartRecording()
    {
        await Js.InvokeVoidAsync("startRecording");
        IsRecording = true;
    }

    private async Task StopRecording()
    {
        await Js.InvokeVoidAsync("stopRecording");
        IsRecording = false;
    }

    private async Task PlayAudio()
    {
        await Js.InvokeVoidAsync("playAudio", Audio);
        IsPlaying = true;
    }

    async Task StopAudio()
    {
        await Js.InvokeVoidAsync("stopAudio", Audio);
        IsPlaying = false;
    }

    @*[JSInvokable]
    public async Task OnEnd()
    {
        IsPlaying = false;
        StateHasChanged();
    }*@


    @*Edit-controls buttons*@


}
