@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@*@using BlazorApp1.Client.Components.Services
@inherits LayoutComponentBase
@inject IAccoruntService AccoruntService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
}

<div class="app-container @(LoggedIn ? "bg-light" : "")">
    <Alert/>
    @Body
</div>

@code
{
    public bool LoggedIn
    {
        get { return AccoruntService.User != null; }
    }
}*@
